@import url('https://fonts.googleapis.com/css2?family=Girassol&family=IBM+Plex+Serif:wght@600&family=Sacramento&display=swap');
.nav-li-style{
    font-size: 20px;
    color: white!important;
    font-weight: 400;
    font-family: Georgia;
}
.nav-li-style:hover{
    color: #ff5722!important
}

.logo-style{
    font-size: 30px!important;
    color: white!important;
    font-weight: 500;
    font-family: 'Girassol', cursive;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Sacramento', cursive;
}
.logo-style:hover{
    color: #ff5722!important;
    font-size: 35px!important
}
.bg-of-nav{
    background-color: hsl(0, 0%, 4%, 40%);
}
.navbar-toggler {
    border-color: rgb(255, 255, 255)!important;
    color: white!important;
}